# Methods

We've already seen a few example of methods when learning about Object and Data Structure Types in Python. Methods are essentially functions built into objects.

Methods perform specific actions on an object and can also take arguments, just like a function.

Methods are in the form:

object.method(arg1,arg2,etc...

In [ ]:
L=[1,2,3,4,8,9]

In [ ]:
L.append(2)

In [ ]:
L

[1, 2, 3, 4, 8, 9, 2]

In [ ]:
L.count(2)

2

In [ ]:
help(L.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [ ]:
help(L.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [ ]:
L.remove(2)

In [ ]:
L

[1, 3, 4, 8, 9, 2]

In [ ]:
L.remove(10)

ValueError: ignored

# Functions

Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

A function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

**Parameter**

A parameter is the variable listed inside the parentheses into the function definition.

**Argument**

An argument is value that are sent to the function when it is called.

**Type 01**

In [ ]:
def show(L):
  print(L)

In [ ]:
a=100
show(a)

100

Type 02

In [ ]:
def say():
  print("Hello World\n")

In [ ]:
say()

Hello World

**Type 03**

In [ ]:
def sum(n1,n2):
  return n1+n2

In [ ]:
b=300
c=120
sum(b,c)

420

**Type 04**

In [ ]:
def divisor(a):
  for i in range(1,a+1):
    if(a%i==0):
      print(i)
  else:
    print("All divisors are printed\n")

In [ ]:
q=30
divisor(q)

1
2
3
5
6
10
15
30
All divisors are printed

**Type 05**

In [ ]:
def check(s):
  p=s.split()
  return p[0][0]==p[1][0]

In [ ]:
z="Cook chicken"

In [ ]:
check(z)

False

In [ ]:
def check_01(s):
  p=s.split()
  return p[0][0].upper()==p[1][0].upper()

In [ ]:
check_01(z)

True

**Type 06**

In [ ]:
def Three_Times(L):
  sum=0
  for i in L:
    print(i*3)
    sum=sum+i
  return sum

In [ ]:
l=[1,2,3,4]
Three_Times(l)

3
6
9
12

10

In [ ]:
print("SUM: ",Three_Times(l))

3
6
9
12
SUM:  10

**Type 07**

In [ ]:
def sum_of_values(d):
  sum=0
  for i in d.values():
    sum=sum+i
  return sum

In [ ]:
D={1:1,2:2,3:3}
sum_of_values(D)

6

**Type 08**

In [ ]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [ ]:
print_big('E')

*****
*
*****
*
*****

**Type 09**

In [ ]:
def ave(a,b,c,d):
  return (a+b+c+d)/4

In [ ]:
a=12
b=2
c=6
d=10
ave(a,b,c,d)

7.5

In [ ]:
ave(a,b,c)

TypeError: ignored

In [ ]:
def ave(a,b,c,d=20):
  return (a+b+c+d)/4

In [ ]:
ave(a,b,c)

10.0

**Type 10**

In [ ]:
def person_info(name,age,profession):
  print("My name is {}.I am {} years old.I am a {}.".format(name,age,profession))

In [ ]:
N="A.R Rahman"
a=53
p="Music Director"
person_info(N,a,p)

My name is A.R Rahman.I am 53 years old.I am a Music Director.

In [ ]:
person_info(a,p,N)

My name is 53.I am Music Director years old.I am a A.R Rahman.

In [ ]:
person_info(name=N,profession=p,age=a)

My name is A.R Rahman.I am 53 years old.I am a Music Director.

**Type 11**

In [ ]:
def s(a,b):
  return a+b

In [ ]:
def m(a,b):
  return a*b

In [ ]:
def both_s_m(a,b):
  sum=s(a,b)
  mul=m(a,b)
  return sum,mul

In [ ]:
both_s_m(2,3)

(5, 6)

# *args

The special syntax *args in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-keyworded, variable-length argument list.

The syntax is to use the symbol * to take in a variable number of arguments; by convention, it is often used with the word args.

What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined. 

With *args, any number of extra arguments can be tacked on to your current formal parameters.

**Example 01**

In [ ]:
def average(*args):
  sum=0
  for i in args:
    sum=sum+i
  return sum/len(args)

In [ ]:
average(1,2,3,4,5,6,8)

4.142857142857143

**Example 02**

In [ ]:
def print_statement(*t):
  for i in t:
    print(i)

In [ ]:
print_statement("Hi Everyone","How are you all?","I hope everyone is alright.")

Hi Everyone
How are you all?
I hope everyone is alright.

**Example 03**

In [ ]:
def args_with_one_argument(a1,*args):
  print("The argument:",a1)
  for i in args:
    print(i)

In [ ]:
args_with_one_argument(200,2,3,4,90)

The argument: 200
2
3
4
90

# **kwargs

The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list.

We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

A keyword argument is where you provide a name to the variable as you pass it into the function.

One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it. That is why when we iterate over the kwargs there doesnâ€™t seem to be any order in which they were printed out.

**Example 01**

In [ ]:
def print_with_key(**kwargs):
  for value in kwargs.values():
    print(value)

In [ ]:
print_with_key(d1="1",d2=9,d3=9999,d4="HI EVERYONE")

1
9
9999
HI EVERYONE

**Example 02**

In [ ]:
def print_with_key_01(**kwargs):
  for key in kwargs:
    print(kwargs[key])

In [ ]:
print_with_key_01(d1="1",d2=9,d3=9999,d4="HI EVERYONE")

1
9
9999
HI EVERYONE

**Example 03**

In [ ]:
def kwargs_sum(**kwargs):
  sum=0
  for i in kwargs:
    sum=sum+kwargs[i]
  return sum/len(kwargs)

In [ ]:
kwargs_sum(a=22,b=88,c=90)

66.66666666666667

**Example 04**

In [ ]:
def Week_Dairy(name,*savings,**extra_activities):
  sum=0
  print("My name is ",name)
  for i in savings:
    sum=sum+i;
  print("My one week saving : ",sum)
  for key,value in extra_activities.items():
    print(key," : ",value)

In [ ]:
Week_Dairy("Mr.R",100,50,60,30,80,60,20,Saturday="Music",Sunday="Poetry",Monday="Debate",Tuesday="Calliography",Wednesday="Dancing",Thrusday="Movie",Friday="Cooking")

My name is  Mr.R
My one week saving :  400
Saturday  :  Music
Sunday  :  Poetry
Monday  :  Debate
Tuesday  :  Calliography
Wednesday  :  Dancing
Thrusday  :  Movie
Friday  :  Cooking